mixin mockup(data)
  +b.mockup(style=`background-image: url(${data.preview})`)
    +e('a').link(href=`${data.origin}`)
    +e.content
      if (data.title)
        +e('h4').title
          | #{data.title}
      if (data.additional)
        +e.additional
          | #{data.additional}
      if (data.date)
        +e.date
          | #{data.date}
